.whatsappButton {
    position: fixed;
    bottom: 20px; 
    right: 20px;
    width: 260px;
    height: 90px;
    z-index: 9999;
    background-color: #18bb46;
    color: #fff;
    border-radius: 20px;
    padding: 30px;
    font-size: 18px;
  }
.whatsappButton:hover{
    background-color: #128c35;
    color: #000;
    text-decoration: none;
  }

.whatsappButtonIcon{
    color: #fff;
}
.whatsappButtonText{
    color: #fff;
}
